<!DOCTYPE html>
<html lang="en-US" style="margin: 0; width: 100%; height: 100%; overflow: hidden;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>LuaSTGPlus</title>
</head>
<body style="margin: 0; width: 100%; height: 100%">
    <!-- Create the canvas that the C++ code will draw into -->
    <canvas id="canvas" style="margin: 0; width: 100%; height: 100%" oncontextmenu="event.preventDefault()"></canvas>

    <!-- Allow the C++ to access the canvas element -->
    <script type='text/javascript'>
        var Module = {
            canvas: (function() { return document.getElementById('canvas'); })(),
            locateFile: function(path) {
                if (path === 'LuaSTGPlus2.wasm') {
                    return '{{{wasmUrl}}}';
                } else {
                    console.log('Requested path "' + path + '" not known');
                    return '';
                }
            },
            arguments: [
            ],
            print: function(what) {
                console.log(what);
            },
            printErr: function(what) {
                console.log(what);
            },
        };

        const kPreloadAssets = [
            {{#preloadFiles}}
            {{{genPreloadLine}}}
            {{/preloadFiles}}
        ];

        function getPreloadAssetList() {
            return JSON.stringify(kPreloadAssets);
        }

        const ChangedAssetQueue = [];
        function pollChangedAssetList() {
            if (ChangedAssetQueue.length === 0)
                return null;
            const ret = JSON.stringify(ChangedAssetQueue);
            ChangedAssetQueue.splice(0, ChangedAssetQueue.length);
            return ret;
        }

        window.addEventListener('message', (event) => {
            const message = event.data;
            switch (message.type) {
                case 'fileChanged':
                    ChangedAssetQueue.push([message.uri, message.filename]);
                    break;
                case 'fileCreated':
                    ChangedAssetQueue.push([message.uri, message.filename]);
                    break;
                default:
                    console.log(`Unexpected event type ${message.type}`);
                    break;
            }
        });
    </script>

    <!-- Add the javascript glue code (index.js) as generated by Emscripten -->
    <script src="{{{jsUrl}}}"></script>
</body>
</html>
